.loginButton {
  background-color: rgb(15, 131, 0);
  font-family: inherit;
  text-transform: none;
  width: 200px;
}

.loginButton:disabled {
  background-color: rgba(15, 131, 0, 0.6);
  box-shadow: none;
  pointer-events: none;
  color: rgb(238, 238, 238);
}

.loginButton:hover {
  background-color: rgb(13, 114, 0);
}

.textInput {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;

  :global .MuiInputBase-root, :global .MuiFormLabel-root, :global .MuiFormHelperText-root {
    font-family: inherit;
  }

  :global .MuiFormHelperText-root {
    letter-spacing: normal;
  }

  fieldset {
    border-color: rgba(0,0,0,0.4);
  }
}

.container {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(200px, 70%, 500px);
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}