@use './vars';

.buttonPrimary {
  text-transform: none;
  background-color: vars.$green-primary;
  color: vars.$white-primary;

  &:disabled {
    background-color: rgba(vars.$green-primary, .8);
    color: vars.$white-darker;
  }

  &:hover {
    background-color: vars.$green-darker;
  }
}

.buttonSend {
  
  :global .MuiButton-endIcon {
    margin: 0;
  }

  :global .MuiSvgIcon-root {
    font-size: 1.5rem;
  }
}

.textField {
  margin-bottom: vars.$form-spacing;

  :global .MuiFormHelperText-root {
    letter-spacing: normal;
  }

  fieldset {
    border-color: rgba(0,0,0,0.4);
  }
}

.input {
  margin-right: 10px;
  background-color: white;
  border-radius: 4px;
  padding: 0 10px;
}