*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  background: url('./static/background.png');
  background-repeat: repeat;
  height: 100%;
}